<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">FIT-MI</a>
    <button class="d-flex navbar-brand bg-dark border-0" (click)="navigateToHome()">Torna alla Home</button>
  </div>
</nav>

<div class="background">
  <div class="card-container">
   <div class="card">
     <div class="card-body">
       <h5 class="card-title">Login</h5>
        <form>
            <label for="Username" class="p-1">Username:</label>
            <input name="username" type="Username" class="form-control" id="Username" placeholder="Inserisci il tuo username" required ngModel>
            <div class="form-group">
              <label for="password" class="p-1">Password:</label>
              <input type="password" name="password" class="form-control" id="password" placeholder="Inserisci la password" required ngModel>
            </div>
            <button class="btn btn-dark mt-3" type="submit">Accedi</button>
        </form>
      </div>
    </div>
  </div>
</div>
