<!DOCTYPE html>
<html>
<head>
    <title>Modifica Nota</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <h4 class="ml-2 mt-2">Edit Note:</h4>

    <div class="ml-2 mt-2" style="display: flex; justify-content: center;">
        <div style="border: 1px solid black; border-radius: 20px; width: 500px; text-align: center; padding: 20px;">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-dark">Save Changes</button>
            </form>           
        </div>

    </div>

    
</body>
</html>
